# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\smaouim\OneDrive - KAUST\KAUST_fall2020\KAUST_fall2020_CS207\KAUST_fall2020_CS207_lectures\Lecture 7 and 8 exercise\Rational\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
